@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h2 class="text" data-bind="text: takeAPhoto"></h2>
    <p class="timer" data-bind="text: timer"></p>
    <div class="videoContainer">
        <video id="video"></video>
    </div>
    <br>
    <h2 class="text editText" data-bind="text: editText"></h2>
    <br>
    <canvas id="canvas"></canvas>
</div>