@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    @*<h2 class="text" data-bind="text: takeAPhoto"></h2>*@
    @*<p class="timer" data-bind="text: timer"></p>*@
    <div class="col-xs-12">
        <div class="video-container row">
            <div  class="col-xs-8 p-0">
                <video id="video"></video>
            </div>
            <div class="desc-area col-xs-4 text-center">
                <h1 class="font-60 font-family-lato">Wave your hand to start countdown...</h1>
                <h1 class="timer font-family-lato" data-bind="text: timer"></h1>
                <h1 class="cheese font-family-lato" data-bind="text: cheese"></h1>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center">
        <canvas id="canvas"></canvas>
        <div id="download_link_area">
            download link - www.gesture-selfie.com/gallery
        </div>
        <img id="image" style="width:100%"/>
    </div>
</div>