body {
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

.font-family-lato {
    font-family: 'Lato', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body {
   
}

.heading-text {
    padding: 30px;
    color: #0089cc;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 4px #aaa;
    font-weight: bold;
}
.p-0 {
    padding: 0;
}

.p-20 {
    padding: 20px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-20 {
    padding-top: 20px;
}

.image-area {
    border: 2px solid #888;
}

.image-area:hover {
    border: 2px solid #0089cc;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

.video-container video {
    /*height: 100vh !important;*/
    height: auto;
    width: 100%;
}

.desc-area {
    text-shadow: 2px 2px 4px #aaa;
    color: #0089cc;
    font-weight: bold;
    height: 100vh !important;
}

.timer {
    font-size: 30vh;
    margin-top: 10vh;
}

.font-60 {
    font-size: 60px;
}

#canvas {
   height: 0px !important;
   width: 0px;
   max-width: 100%;
   z-index: 0;
}

#download_link_area {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    z-index: 1000;
    font-size: 5vh;
    color: white;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
    font-family: 'Lato', sans-serif;
    text-align: left;
}

#preview_area {
    min-height: 30vh !important;
}


#image {
    max-height: 100vh;
    width: auto;

}

.cheese {
    font-size: 16vh;
}

#myModal .modal-content{
    width: 100%;
}

.modal-dialog {
    left: 15% !important;
    right: auto;
    width: 70%;
}