body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body {
   
}

.heading-text {
    padding: 30px;
    color: lightseagreen;
}
.p-0 {
    padding: 0;
}

.p-20 {
    padding: 20px;
}

.p-t-20 {
    padding-top: 20px;
}

.image-area {
    border: 2px solid #888;
}

.image-area:hover {
    border: 2px solid #0089cc;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

.video-container > video {
    height: 100vh !important;
    width: auto;
    float: left;
}

.desc-area {
    float: left;
    height: 100vh;
    text-shadow: 2px 2px 4px #00ff90;
}

.timer {
    font-size: 18vh;
    margin-top: 20vh;
}