
<script type="text/javascript" src="~/Scripts/Models/gallery.js"></script>    
<div class="col-xs-12">
            <h1 class="text-center text-uppercase heading-text" data-bind="text: Gallery.title"></h1>

                <div class="col-md-4 col-sm-6 col-xs-12 m-b-10" data-bind="foreach: Gallery.Photos">
                    <div class="col-xs-12 image-area" data-toggle="modal" data-target="#myModal">
                        <div class="row text-center">
                            <img data-bind="attr: { 'src' : ImagePath }" width="100%" height="auto"/>
                        </div>
                        <h4 class="p-t-10 date" data-bind="text: Date"><strong>Date: </strong></h4>
                        <h4 class="p-t-10 location" data-bind="text: Location"><strong>Location: </strong></h4>
                    </div>
                </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center">
                    <img id="modal_image" src="" width="100%">
                </div>
                <div class="modal-footer">
                    <div class="col-sm-6 col-xs-12">
                        <h4 class="text-left" id="modal_location"></h4>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="fb-like"
                             data-share="true"
                             data-width="450"
                             data-show-faces="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script>
        $('.image-area').click(function () {
            var content = $(this).children('.location').first().text().split('Location:');
            console.log(content[1]);
            $('#modal_location').text('');
            $('#modal_location').append('<strong>Location: </strong>'+content[1]);
            var image = $(this).children('.row').first().children('img').first().attr('src');
            $('#modal_image').attr('src', image);
        })
    </script>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '400074140394751',
            xfbml: true,
            version: 'v2.10'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
    var Gesture = Gesture || {};
    Gesture.VM = Gesture.VM || {};
    $.extend(Gesture.VM, {
        Gallery: new Gallery()
    });
</script>